.container_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    min-width: 100% auto;
    gap: 60px;
    padding: 40px;
}
.container_footer--email a{
    font-size: 40px;
    text-decoration: none;
    color: #3d3e40;
    transition: all 0.3s;
}
.container_footer--email a:hover{
    color: #edb997;
}
.container_footer--redes{
    display: flex;
    gap: 60px;
}
.container_footer--redes a{
    font-size: 40px;
    color: #3d3e40;
    transition: all 0.3s;
}
.container_footer--redes a:hover{
    color: #edb997;
}
.container_footer--title h2{
    color: #3d3e40;
    font-size: 40px;
}

@media only screen and (max-width: 680px){
    .container_footer--redes a{
        font-size: 28px;
    }
    .container_footer--email a{
        font-size: 28px;
    }
    .container_footer--title h2{
        font-size: 28px;
    }
}
@media only screen and (max-width: 420px){
    .container_footer--redes a{
        font-size: 20px;
    }
    .container_footer--redes{
        gap: 30px;
    }
    .container_footer--email a{
        font-size: 20px;
    }
    .container_footer--title h2{
        font-size: 22px;
    }
}